.home__slider--container {
    width: 100%;
}

.swiper {
    width: 100%;
}

.home__slider--item {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__slider--item:hover {
    transform: scale(1.05);
}

.home__slider--item--image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}