.home__slider--container {
    width: 100%;
}

.home__block--title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-36) / var(--unnamed-line-spacing-43) var(--unnamed-font-family-tajawal);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-f1f1f1);
    text-align: left;
    margin-bottom: 20px;
}

.swiper {
    width: 100%;
}

.home__slider--item {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__slider--item:hover {
    transform: scale(1.05);
}

.home__slider--item--image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}