.sidebar__profile {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 58px;
}

.sidebar__profile--block {
    width: 82px;
    height: 82px;
    border-radius: 50%;
    overflow: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;

}

.sidebar__profile--block .sidebar__profile--avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;

}

.sidebar__profile--username {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-32)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-tajawal);
    letter-spacing: var(--unnamed-character-spacing--0-32);
    color: var(--unnamed-color-f1f1f1);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.sidebar__profile.closed .sidebar__profile--block {
    opacity: 0;
    transform: scale(0.8);
}

.sidebar__profile.closed .sidebar__profile--username {
    opacity: 0;
    transform: translateX(-10px);
}